.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  font-family: Arial;
}

/* ----- TITULOS ----- */
.title {
  margin-top: 20px;
}

/* ----- CONTENEDORES ----- */
.box {
  display: grid;
  place-content: center;
  border-radius: 8px;
  width: 60%;
  min-height: 60px;
  font-weight: bold;
  box-shadow: 0 0 5px #00000080;

  /* ANIMACIÓN SUAVE DE CAMBIOS DE TAMAÑO */
  transition: all 0.35s ease;
}

.boxDireccion {
  background: #d0f0d0;
}

.boxTelefono {
  background: #d0e0ff;
}

.boxPrecio {
  background: #ffe7c2;
}

/* ----- BOTONES ----- */
.recordBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px #00000020;
}

.btnDireccion {
  background: #5cb85c;
}

.btnTelefono {
  background: #007aff;
}

.btnPrecio {
  background: #f0ad4e;
}

.activeBtn {
  filter: brightness(75%);
  transform: scale(0.97);
}

/* ----- BOTONES SECUNDARIOS (Maps, Llamar) ----- */
.secondaryBtn {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  box-shadow: 0 0 10px #00000020;
}

.mapBtn {
  background: #4285f4;
}

.callBtn {
  background: #007aff;
}


/* WhatsApp */
.whatsappBtn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #25d366;
  color: white;
  border: none;
  border-radius: 8px;
  width: 50%;
}
